.snap-receipt-screen{

	.receipt-img{
		img{
			max-width: 100%;
			height: 100%;
		}
	}

	.snap-bar{
		position: fixed;
	    bottom: 0;
	    background: $bg-color--white;
	    height: 110px;
	    width: 100%;

	    @media #{$small-up}{
			width: 85%;
		}

	    .snap-button{
	    	background: $bg-color--black;
	    	cursor: pointer;
	    	@include rounded-corners(50%);
			height: 55px;
			width: 55px;
			overflow: auto; 
			margin: auto; 
			position: absolute; 
			top: 0;
			left: 0;
			bottom: 0; 
			right: 0; 
	    }
	}
}